Package: com.mody.safarittool
Name: SafariTool
Version: 0.8.3
Architecture: iphoneos-arm64e
Description: A jailbreak tweak for Safari on iOS 18.7 with RootHide support.
Maintainer: ModyIQ
Author: ModyIQ
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
