<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>الإعدادات الرئيسية</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.mody.safarittool</string>
            <key>key</key>
            <string>Enabled</string>
            <key>label</key>
            <string>تفعيل SafariTool</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>زر التنزيل</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.mody.safarittool</string>
            <key>key</key>
            <string>DownloadButtonEnabled</string>
            <key>label</key>
            <string>إظهار زر التنزيل</string>
        </dict>
    </array>
    <key>title</key>
    <string>SafariTool</string>
</dict>
</plist>
